.body {

    background: rgba(20, 80, 205, 0.25);


}

.viewport {
    align-content: center;
    display: grid;
    height: 900px;
    grid-template:
    'topnav topnav topnav topnav topnav topnav'
    'main main main main main main'
    'footer footer footer footer footer footer';
    margin: 10px
    justify-items: center;


}

.viewport > div.main {

    background: rgba(20, 80, 205, 0.25);
    padding: 1.5em;
    border: 7px groove #ff3600;
    border-radius: 30px 30px;
    margin: 2em


}
.viewport > div.viewportOtherDivs {

    background: #008cef;
    padding: 2em;
    border: 7px groove #ffe400;
    border-radius: 70px 70px;
    margin: 2em



}

.viewport > div.viewportFooter {

    background: #008cef;
    padding: 2em;
    border: 8px dotted #96ea00;
    border-radius: 70px 70px;
    margin: 2em



}





/*.viewport > div:nth-child(odd){
    background: background-color: green;




}*/


.topnav{


    grid-area: topnav;
    display: grid;
    justify-content: right;
    grid-gap: 0.5em;
    grid-template-columns: auto auto auto;
    background: rgb(100, 30, 170, 0.45);




    border: 7px dashed #ff3600;

}

.topnav > div {
        width: auto;
        height: auto;
        /*border-radius: 50px 50px 15px 15px;*/


}

.topnavChildren {
        color: #ffe400;
        font-family: Blippo;
        font-weight: bold;
        background-color: rgb(10, 30, 170, 0.25);
        font-size: 16px;
        font-family: "Andale Mono";
        margin: 1px;
        padding: 16px;
        border-radius: 25px 25px;
        width:
        transition: 0.3s;
        border:7px dotted #ffe400;

}

.topnavChildren:hover {
        border:5px dotted #ff3600;
        color: #ff3600;

        background-color: #008cef;


        cursor: pointer;
        box-shadow: 0 0 20px 0 #ff3600;400;

}


.topnavChildren:active {
        border:5px dotted #96ea00;
        color: #96ea00;

        background-color: #008cef;


        cursor: pointer;
        box-shadow: 0 0 20px 7px #96ea00

}



.leftnav{

    grid-area: leftnav;


    background-color: rgb(10, 30, 170, 0.45);




    border: 7px dashed #ff3600;

}

.main {
    display: grid;
    background-color: rgb(10, 30, 170, 0.45);
    grid-area: main;
    justify-content: center;
    align-content: center;
    border: 7px dashed #ff3600;

    margin-left: auto;
    margin-right: auto;
    width: 3fr;
    height: 1fr;



}

.main-Button {
    display: grid;
    grid-template-columns: 55% 20% 20%;
    grid-gap: 1em;
    height: auto;
    width: auto;

}







.image-BoogleBanner {




        width: auto;
        height: auto;




    }



.searchBox {
        background-color: rgb(10, 30, 170, 0);
        font-size: 25px;
        font-family: "Andale Mono";
        margin: 1px;
        padding: 12px;
        border-radius: 25px 25px;
        width: 100%;
        transition: 0.3s;
        border:7px groove #ffe400;
        }

.searchBox:hover {

        background-color: rgb(10, 30, 170, 0.25);
        border:7px groove #008cef;
        box-shadow: 0 0 8px 0 #008cef;


}
.searchBox:focus {
        background-color: rgb(40 50 40);
        color: #ffe400;
        border:7px groove #008cef;
        box-shadow: 0 0 15px 7px #008cef;


}

.Search-form {



        justify-content: center;
        align-content: center;

        width: auto;
        height: auto;
        border: 17px black;



    }




/*.Search-form input {
        font-family: "Courier New";
       /* grid-area: Search*/
        /*font-size: 20px;


        margin: 1px;
        padding: 12px;
        border-radius: 25px 25px;
        width: 100%;
        transition: 0.3s;


        }*/

.Search-form-submit {


        margin: 1px;
        padding: 12px;
        border:5px groove #ffe400;
        border-radius: 25px 25px;
        width: 100%;
        transition: 0.3s;
        font-size: 16px;
        font-weight: bold;
        font-family: Blippo;
        /*grid-area: Search*/
        color: #ffe400;


        background-color: #008cef;


        cursor: pointer;
        }
.Search-form-submit:hover {
        border:5px groove #ff3600;
        color: #ff3600;

        background-color: #008cef;


        cursor: pointer;
        box-shadow: 0 0 20px 0 #ff3600;
        }

.Search-form-submit:active {
        border:5px groove #96ea00;
        color: #96ea00;

        background-color: #008cef;


        cursor: pointer;
        box-shadow: 0 0 20px 7px #96ea00
        }






.rightnav{


    grid-area: right;

    background-color: rgb(10, 30, 170, 0.45);




    border: 7px dashed #ff3600;

}

.footer{

    height: auto;
    grid-area: footer;
    display: grid;
    grid-template:
    'Brasil Brasil Brasil'
    'OtherLinks1 OtherLinks2 OtherLinks3';
    grid-gap: 2em;
    grid-template-columns: auto auto auto;

    background-color: rgb(10, 30, 170, 0.45);




    border: 7px dashed #ff3600;

}

.footerChildren {
        grid-area: OtherLinks3 OtherLinks2 OtherLinks1;
        color: #96ea00;
        font-family: Blippo;
        font-weight: bold;
        background-color: rgb(10, 30, 170, 0.25);
        font-size: 16px;
        font-family: "Andale Mono";
        margin: 1px;
        padding: 16px;
        border-radius: 25px 25px;
        width:
        transition: 0.3s;
        border:7px dotted #96ea00;

}

.footerChildren:hover {
        grid-area: OtherLinks3 OtherLinks2 OtherLinks1;
        color: #ffe400;
        font-family: Blippo;
        font-weight: bold;
        background-color: rgb(10, 30, 170, 0.25);
        font-size: 16px;
        font-family: "Andale Mono";
        margin: 1px;
        padding: 16px;
        border-radius: 25px 25px;
        width:
        transition: 0.3s;
        border:7px dotted #ffe400;
        cursor: pointer;

}

.footerChildren:active {
        grid-area: OtherLinks3 OtherLinks2 OtherLinks1;
        color: #ffe400;
        font-family: Blippo;
        font-weight: bold;
        background-color: rgb(10, 30, 170, 0.25);
        font-size: 16px;
        font-family: "Andale Mono";
        margin: 1px;
        padding: 16px;
        border-radius: 25px 25px;
        width:

        border:7px dotted #ffe400;
        cursor: pointer;

}

.onlyStyledText {
        grid-area: Brasil;
        color: #96ea00;
        font-family: Blippo;
        font-weight: bold;
        background-color: rgb(10, 30, 170, 0);
        font-size: 16px;
        font-family: "Andale Mono";
        margin: 1px;
        padding: 16px;
        border-radius: 25px 25px;
        width:
        transition: 0.3s;


}

.move {
    background-color: orange;
    width: 700px;
    height: 400px;
    margin: 100px;
    padding: 70px;
    border: 7px dashed rgb(10, 30, 170, 0.45);
    border-radius: 30px 70px;
}



.relative1 {
    background-color: green;
    color: red;
    height: 400px;
    width: 300px;
    /*margin: 50px;*/
    padding: 70px;
    border: 7px dashed orange;
    border-radius: 30px;
    position: relative;
    top: 0;
    right: 0;
    display: inline;

}

.relative2 {
    background-color: red;
    color: blue;
    height: 400px;
    width: 300px;
    /*margin: 50px;*/
    padding: 70px;
    border: 7px dashed orange;
    border-radius: 30px;
    position: relative;
    top: 40px;
    right: 0;
    left: 40px;
    display: inline-block;


}


.centered {
    background-color: green;
    color: white;
    /*height: 400px;*/
    width: 300px;
    margin: 0 auto;
    padding: 70px;
    border: 7px dashed orange;
    border-radius: 30px;
    position: relative;
    top: 40px;
    right: 0;
    left: 40px;
    display: block;


}

.square {
    background-color: green;
    color: white;
    /*height: 400px;*/
    width: 300px;
    margin-left: auto;
    /*squaremargin-right: auto;*/
    padding: 70px;
    border: 7px dashed orange;
    border-radius: 30px;
    position: relative;
    top: 40px;
    right: 0;
    left: 40px;
    /*display: inline-block;*/


}

.container {
    display: flex;
    background-color: orange;
    border: 7px dashed blue;
    border-radius: 30px;

    /*justify-content: centered; */
    flex-flow: row;
    flex-wrap: wrap;





}

.container-square {
    background-color: red;
    color: white;
    /*height: 400px;*/
    width: 100px;
    margin: 100px;
    /*squaremargin-right: auto;*/

    border: 7px dashed blue;
    border-radius: 30px;


    /*display: inline-block;*/


}


